<div class="container">
    
    <img class="image" src="https://images.squarespace-cdn.com/content/v1/5d8e617137fce41a1f61e373/1610478145086-CHCJRN6804QAWLPY861Y/CUSTOMER+SUCCESS+Overlay+Text+Top+with+white+background+blue+wave+Header+-+1600x600+c.png?format=1500w" alt="Description of the image">
    <div class="content">
        <h1 class="center-align">Welcome to Customer Success Platform</h1>
        <h1 class="center-align">Please login to continue</h1>
    </div>
    <div class="content" *ngIf="!(auth.isAuthenticated$| async)">
        <button class="custom-button" (click)="authRedirect()">Login</button>
    </div>
</div>