<mat-drawer-container class="content-container">
    <mat-drawer mode="side" class="sidebar" opened="true">
        <div class="drawer-content">
            <!-- Buttons added below drawer content text -->
            <button mat-raised-button color="primary" class="btn" (click)="navigateToHome()">

                <mat-icon>add</mat-icon> New Project

            </button>
            <button mat-raised-button color="secondary" class="btn" (click)="navigateTodashboard()">

                <mat-icon>home</mat-icon> Dashboard

            </button>
            <button mat-raised-button color="secondary" class="btn" (click)="navigateToProjects()">

                <mat-icon>work</mat-icon> Projects

            </button>

            <!-- <button mat-raised-button color="secondary" class="btn" (click)="navigateToteam()">
                <mat-icon>group</mat-icon> Approved Team
            </button>

            <button mat-raised-button color="secondary" class="btn" (click)="navigateToresource()">
                <mat-icon>folder</mat-icon> Resources
            </button>

            <button mat-raised-button color="secondary" class="btn" (click)=" navigateToclientfeedback()">
                <mat-icon>feedback</mat-icon> Client Feedback
            </button>

            <button mat-raised-button color="secondary" class="btn" (click)="navigateToprojectUpdate()">
                <mat-icon>update</mat-icon> Project Updates
            </button>

            <button mat-raised-button color="secondary" class="btn" (click)="navigateToMoM()">
                <mat-icon>event_note</mat-icon> MoM
            </button> -->
            <!-- End of buttons -->
        </div>
    </mat-drawer>

    <mat-drawer-content class="main-content">
        <div class="top-div">
            <h2>Projects</h2>
        </div>
        <div class="bottom-div">
            <mat-tab-group>
                <mat-tab label="Project Overview">
                    <div>
                        <form class="example-form">
                            <h2>Project brief</h2>
                            <mat-form-field class="example-full-width">

                                <mat-label>Write project brief here</mat-label>
                                <input matInput placeholder="Ex. Pizza" value="Sushi">
                            </mat-form-field>
                            <h2>Purpose</h2>
                            <mat-form-field class="example-full-width">
                                <mat-label>Write project Purpose here</mat-label>
                                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                            </mat-form-field>
                            <h2>Goals</h2>
                            <mat-form-field class="example-full-width">
                                <mat-label>Write project goal here</mat-label>
                                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                            </mat-form-field>
                            <h2>Objectives</h2>
                            <mat-form-field class="example-full-width">
                                <mat-label>Write project objectives here</mat-label>
                                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                            </mat-form-field>
                            <h2>Budget</h2>
                            <mat-form-field class="example-full-width">
                                <mat-label>9999</mat-label>

                                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                                US Dollar
                            </mat-form-field>


                        </form>
                        <button mat-raised-button color="primary" class="btn" (click)="navigateToHome()">

                            Continue

                        </button>
                    </div>
                </mat-tab>


                <mat-tab label="Scope & Stack">
                    <div>
                        <form class="example-form">
                            <h2>Select Project Technology's</h2>
                            <mat-form-field class="example-full-width">
                                <mat-label>Technology</mat-label>
                                <mat-select placeholder="Select Technology">
                                    <mat-option *ngFor="let tech of techStackOptions" [value]="tech">
                                        {{ tech }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <h2>Project Scope</h2>
                            <mat-form-field class="example-full-width">
                                <mat-label>Write here</mat-label>
                                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                            </mat-form-field>
                        </form>
                        <button mat-raised-button color="primary" class="btn" (click)="navigateToHome()">

                            Continue

                        </button>
                    </div>
                </mat-tab>
                
            </mat-tab-group>
        </div>
    </mat-drawer-content>




</mat-drawer-container>