<header class="header">
    <!-- Left side: Project name -->
    <div class="project-name">

    </div>

    <!-- Center: Search box -->
    <div class="search-box">
        <span><strong>CSP</strong></span>
        
        <input class="search-input" type="text" placeholder="Search..." />
    </div>

    <!-- Right side: User -->
    <div class="user-info">
   
        <li>
            <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
                <img src="https://img.freepik.com/free-photo/close-up-portrait-cheerful-glamour-girl-with-cute-make-up-smiling-white-teeth-looking-happy-camera-standing-blue-background_1258-70300.jpg?w=996" alt="" class="user-image mr-1 p-2" />

                Admin
                <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="auth.logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    Logout
                </button>
            </mat-menu>
        </li>

    </div>
</header>