
<div mat-dialog-title>
    <h1>Stake holder Form</h1>
</div>
<form  [formGroup]="stakeholderForm" (ngSubmit)="onFormSubmit()" >
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Project Id</mat-label>
                <input matInput type="string" placeholder="Ex. Technical" formControlName="projectId">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput type="string" placeholder="Ex. Technical" formControlName="title">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Name </mat-label>
                <input matInput type="string" placeholder="Ex. test@gmail.com" formControlName="name">
            </mat-form-field>
           
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Contact </mat-label>
                <input matInput type="string" placeholder="Ex. test@gmail.com" formControlName="contact">
            </mat-form-field>
        </div>
   
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
</form>