<mat-drawer-container class="content-container">
    <mat-drawer mode="side" class="sidebar" opened="true">
      <div class="drawer-content">
       
        <button mat-raised-button color="primary" class="btn" (click)="navigateToHome()">

            <mat-icon>add</mat-icon> New Project
    
          </button> <!-- Buttons added below drawer content text -->
        <button mat-raised-button color="secondary" class="btn" (click)="navigateToteam()">
          <mat-icon>group</mat-icon> Approved Team
        </button>
  
        <button mat-raised-button color="secondary" class="btn" (click)="navigateToresource()">
          <mat-icon>folder</mat-icon> Resources
        </button>
  
        <button mat-raised-button color="secondary" class="btn" (click)=" navigateToclientfeedback()">
          <mat-icon>feedback</mat-icon> Client Feedback
        </button>
  
        <button mat-raised-button color="secondary" class="btn" (click)="navigateToprojectUpdate()">
          <mat-icon>update</mat-icon> Project Updates
        </button>
  
        <button mat-raised-button color="secondary" class="btn" (click)="navigateToMoM()">
          <mat-icon>event_note</mat-icon> MoM
        </button>
        <button mat-raised-button color="secondary" class="btn" (click)="navigateTobudget()">
            <mat-icon>work</mat-icon> Project Budget
          </button>
          <button mat-raised-button color="secondary" class="btn" (click)="navigateTorisk()">
            <mat-icon>notification</mat-icon> Risk Profiling
          </button>
          <button mat-raised-button color="secondary" class="btn" (click)="navigateToMoM()">
            <mat-icon>mail</mat-icon> Sprintwise Details
          </button>
          <button mat-raised-button color="secondary" class="btn" (click)="navigateToMoM()">
            <mat-icon>check_circle</mat-icon> Escalation Matrix
          </button>
          <button mat-raised-button color="secondary" class="btn" (click)="navigateToMoM()">
            <mat-icon>info</mat-icon> Version History
          </button>
          <button mat-raised-button color="secondary" class="btn" (click)="navigateToAudit()">
            <mat-icon>info</mat-icon> Audit History
          </button>
          <button mat-raised-button color="secondary" class="btn" (click)="navigateToMoM()">
            <mat-icon>verified_user</mat-icon> Stake Holders
          </button>
        <!-- End of buttons -->
      </div>
    </mat-drawer>
  
    <mat-drawer-content class="main-content">
        <div class="container">
            <div class="header">
              <h2>Hello Admin !!</h2>
            </div>
          
            <div class="button-container">
                <div>
                    <button mat-raised-button color="primary"  (click)="generatePDF()">Download All Project Details as PDF</button>
                </div>
             
            </div>
          </div>
          
  
    </mat-drawer-content>
  
  </mat-drawer-container>
