<mat-drawer-container class="content-container">
  <mat-drawer mode="side" class="sidebar" opened="true">
    <div class="drawer-content" >

      <button mat-raised-button color="secondary" class="btn" (click)="navigateToHome()">

        <mat-icon>add</mat-icon> New Project

      </button>

    
      <button mat-raised-button color="secondary" class="btn" (click)="navigateToteam()">
        <mat-icon>group</mat-icon> Approved Team
      </button>

      <button mat-raised-button color="secondary" class="btn" (click)="navigateToresource()">
        <mat-icon>folder</mat-icon> Resources
      </button>

      <button mat-raised-button color="secondary" class="btn" (click)=" navigateToclientfeedback()">
        <mat-icon>feedback</mat-icon> Client Feedback
      </button>

      <button mat-raised-button color="secondary" class="btn" (click)="navigateToprojectUpdate()">
        <mat-icon>update</mat-icon> Project Updates
      </button>

      <button mat-raised-button color="secondary" class="btn" (click)="navigateToMoM()">
        <mat-icon>event_note</mat-icon> MoM
      </button>
      <button mat-raised-button color="secondary" class="btn" (click)="navigateTobudget()">
        <mat-icon>work</mat-icon> Project Budget
      </button>
      <button mat-raised-button color="secondary" class="btn" (click)="navigateToMatrix()">
        <mat-icon>check_circle</mat-icon> Escalation Matrix
      </button>
      <button mat-raised-button color="secondary" class="btn" (click)="navigateTorisk()">
        <mat-icon>feedback</mat-icon> Risk Profiling
      </button>

      <button mat-raised-button color="secondary" class="btn" (click)="navigateToversion()">
        <mat-icon>info</mat-icon> Version History
      </button>
      <button mat-raised-button color="secondary" class="btn" (click)="navigateToAudit()">
        <mat-icon>info</mat-icon> Audit History
      </button>
      <button mat-raised-button color="secondary" class="btn" (click)="navigateToStakeholder()">
        <mat-icon>verified_user</mat-icon> Stake Holders
      </button>
      <!-- End of buttons -->
    </div>
  </mat-drawer>

  <mat-drawer-content class="main-content">
    <div><app-header></app-header></div>
    <div class="container">
      <div class="header">
        <div class="greeting">
          <h2>Welcome, Administrator!</h2>
          <p>Export project details and manage CRUD operations seamlessly.</p>
        </div>
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="generatePDF()">Export Project Details</button>
        </div>
      </div>
      <div class="features">
        <h3>Implemented Functionality:</h3>
        <ul>
          <li><strong>Description:</strong> Export project details in a predefined format.</li>
         <div> 

         </div>
          <li><strong>Responsibilities:</strong></li>
          <ul>
            <li>Developing a feature for seamless export of project details.</li>
            <li>Implementing First 10 CRUD operations for insights into data operations.</li>
            <li>Collaborating with the team for integration of export functionality with CRUD operations.</li>
            <li>Testing export feature with CRUD operations for compatibility and accuracy.</li>
            <li>(Optional) Assisting in Email Update Notification System implementation.</li>
          </ul>
        </ul>
      </div>
    </div>
    
    

  </mat-drawer-content>

</mat-drawer-container>