<mat-drawer-container class="example-container">
  <mat-drawer class="drawer" mode="side" opened="true">
    <div class="logo py-4">
      <h1><i>Customer Success</i></h1>
    </div>
    <mat-divider></mat-divider>
    <!-- <h2 matSubheader class="mt-2">APPLICATIONS</h2> -->
    <div class="drawer-content">
      <!-- Buttons added below drawer content text -->
      <button mat-raised-button color="primary" class="btn" (click)="navigateToHome()">

        <mat-icon>add</mat-icon> Projects

      </button>
      <button mat-raised-button color="secondary" class="btn" (click)="navigateTodashboard()">

        <mat-icon>home</mat-icon> Dashboard

      </button>
      <button mat-raised-button color="secondary" class="btn" (click)="navigateToProjects()">

        <mat-icon>work</mat-icon> Home

      </button>

      <!-- <button mat-raised-button color="secondary" class="btn" (click)="navigateToteam()">
        <mat-icon>group</mat-icon> Approved Team
      </button> -->

      <!-- <button mat-raised-button color="secondary" class="btn" (click)="navigateToresource()">
        <mat-icon>folder</mat-icon> Resources
      </button>

      <button mat-raised-button color="secondary" class="btn" (click)="navigateToclientfeedback()">
        <mat-icon>feedback</mat-icon> Client Feedback
      </button>

      <button mat-raised-button color="secondary" class="btn" (click)="navigateToprojectUpdate()">
        <mat-icon>update</mat-icon> Project Updates
      </button>

      <button mat-raised-button color="secondary" class="btn">
        <mat-icon>event_note</mat-icon> MoM
      </button> -->
      <!-- End of buttons -->
    </div>
    <!-- <app-sidenav></app-sidenav> -->
  </mat-drawer>
  <mat-drawer-content class="main">
    <div>
      <app-header></app-header>
    </div>
    <div class="top">
      <mat-toolbar color="primary" class="top-div">
        <span>All Projects</span>
        <span class="example-spacer"></span>
        <button mat-raised-button (click)="openAddEditForm()">
          ADD PROJECT
        </button>


      </mat-toolbar>
    </div>
    <div class="bottom">
      <table mat-table [dataSource]="projectList" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Project Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="manager">
          <th mat-header-cell *matHeaderCellDef> Project Manager </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="openEditForm(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-raised-button color="warn" (click)="deleteProject(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let project; columns: displayedColumns;" (click)="openProjectDetails(project.id)"
          class="hover-effect"></tr>
      </table>
    </div>
  </mat-drawer-content>
</mat-drawer-container>