.example-container {
  width: 220vh;
  height: 100vh;
  /* margin: 10px; */
  /* border: 1px solid #f7f4f4; */
  display: flex;
}

.top {
  padding-bottom: 30px;

}

.logo {
  text-align: center;
  padding: 2.6rem 1rem;

}

.mat-divider {
  border-top-width: 2px;
  border-color: white;

}

.top-div {
  background-color: #2c3344;
}

.drawer {
  width: 300px;
  /* Set width of the side nav */
  background-color: #2c3344;
  /* Example background color */
  color: white;
  /* Example text color */
}

.hover-effect:hover {
  background-color: rgb(233, 234, 241);
  /* Change background color on hover */
  cursor: pointer;
  /* Change cursor to pointer on hover */
}

/* In your component's CSS file */
.custom-button {
  background-color: #1976D2;
  /* Custom background color */
  color: white;
  /* Text color */

  font-size: 19px;
  /* Font size */
}

.custom-button:hover {
  background-color: #18222e;
  /* Darker background color on hover */
}
.header-row{
  background-color: #3f4960;
  color:white;
}

.example-spacer {
  flex: 1 1 auto;
}

/* Style for the main content */
.main {
  width: 215vh;
  padding: 15px;
  background-color: white;
  /* Example padding */
}

.drawer-content {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  /* height: 100%; */
}

.btn {
  margin: 20px;
  /* margin-top: 30px; */
  padding: 25px;
  width: 200px;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

table {
  width: 100%;
  font-size: larger;
}