<mat-drawer-container class="example-container">
  <mat-drawer class="drawer" mode="side" opened="true">
    <div class="drawer-content">
      <!-- Buttons added below drawer content text -->
      <button mat-raised-button color="primary" class="btn" (click)="navigateToHome()">

        <mat-icon>add</mat-icon> New Project

      </button>
      <button mat-raised-button color="secondary" class="btn" (click)="navigateTo()">
        <mat-icon>group</mat-icon> Approved Team
      </button>

      <button mat-raised-button color="secondary" class="btn">
        <mat-icon>folder</mat-icon> Resources
      </button>

      <button mat-raised-button color="secondary" class="btn">
        <mat-icon>feedback</mat-icon> Client Feedback
      </button>

      <button mat-raised-button color="secondary" class="btn">
        <mat-icon>update</mat-icon> Project Updates
      </button>

      <button mat-raised-button color="secondary" class="btn">
        <mat-icon>event_note</mat-icon> MoM
      </button>
      <!-- End of buttons -->
    </div>
    <!-- <app-sidenav></app-sidenav> -->
  </mat-drawer>
  <mat-drawer-content class="main">Main content
    <div>
      <mat-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Project Detail </ng-template>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Invite Client">
          <form [formGroup]="secondFormGroup">
            <mat-form-field>
              <mat-label>Invite Client</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Select Project Manager">
          <form [formGroup]="secondFormGroup">
            <mat-form-field>
              <mat-label>Select Project Manager</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done !</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
    <div>
      <table mat-table [dataSource]="projectList" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="discription">
          <th mat-header-cell *matHeaderCellDef>Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="project-manager">
          <th mat-header-cell *matHeaderCellDef> Project Manager </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" class="btn" (click)="deleteProject(element.id)">
              <mat-icon>edit</mat-icon> Edit
            </button>
            <button mat-raised-button color="warn" class="btn">
              <mat-icon>delete</mat-icon> Delete
            </button>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-drawer-content>
</mat-drawer-container>